@use "colors";

// global

.containter {
    width: 1190px;
    margin: 0 auto;
    padding: 0 40px;
    // outline: 1px solid red;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// blocks

.btn {
    font-family: "Manrope";
    font-size: 18px;
    letter-spacing: -0.01em;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;

    &--primary {
        padding: 11px 25px 14px;
        color: colors.$dark-purple;
        background-color: colors.$eucaplyptus;
        border: 2px solid colors.$eucaplyptus;
        min-width: 160px;

        &:hover {
            background-color: transparent;
            color: colors.$eucaplyptus;
        }
    }

    &--secondary {
        color: colors.$white;
        border-bottom: 3px solid colors.$eucaplyptus;
        background-color: transparent;
    }

    &:hover {
        color: colors.$eucaplyptus;
    }
}

// sections

.header {
    display: flow-root;
    background-color: colors.$dark-purple;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
        margin-bottom: 24px;
        align-items: flex-start;
    }
}

.hero {
    display: flow-root;
    background-color: colors.$ghost-white;
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: colors.$dark-purple;
        background-image: url('/images/bg-pattern-1.svg'), url('/images/bg-pattern-2.svg');
        background-repeat: no-repeat;
        background-position: calc(50% - 690px) 0px, calc(50% + 680px) 200px;
        clip-path: ellipse(2000px 1000px at center -387px);
        z-index: -1;
    }

    &__wrapper {
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        width: 73.5%;
        margin-top: 50px;
    }

    &__title {
        font-family: "Fraunces";
        font-size: 80px;
        line-height: 80px;
        text-align: center;
        color: colors.$white;
        width: 635px;
        margin-bottom: 37px;

        .underlined-text {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 92%;
                bottom: 6px;
                left: 4%;
                background-color: colors.$eucaplyptus;
            }
        }
    }
}