.applying {
    display: flow-root;
    margin-top: 110px;
    margin-bottom: 120px;

    @media (min-width: 768px) and (max-width: 1279px) {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    @media (max-width: 767px) {
        margin-top: 100px;
        margin-bottom: 74px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 34.2% auto;
        grid-template-rows: 12vw auto;

        @media (min-width: 768px) and (max-width: 1279px) {
            grid-template-columns: 25.4% auto;
            grid-template-rows: 20vw auto;
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-template-rows: 61vw auto;
            justify-items: center;
        }
    }

    &__founder-photo {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        width: 43%;
        @media (min-width: 768px) and (max-width: 1279px) {
            width: 41%;
        }
        @media (max-width: 767px) {
            grid-column: 1 / 2;
            width: 82%;
        }
    }

    &__founder-speech {
        position: relative;
        color: colors.$white;
        background-color: colors.$dark-purple;
        padding: 64px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @media (min-width: 768px) and (max-width: 1279px) {
            padding: 48px 56px 56px;
        }

        @media (max-width: 767px) {
            padding: 32px;
            grid-column: 1 / 2;
            text-align: center;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("/images/bg-pattern-3.svg");
            background-repeat: none;
            right: 10%;
            bottom: -15%;
            width: 221px;
            height: 212px;

            @media (min-width: 768px) and (max-width: 1279px) {
                right: 2%;
                bottom: -28%;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    &__title {
        font-family: "Fraunces", serif;
        font-variation-settings: "opsz" 144;
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 32px;

        @media (min-width: 768px) and (max-width: 1279px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 24px;
        }

        @media (max-width: 767px) {
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 16px;
        }
    }

    &__description {
        margin-bottom: 32px;

        @media (max-width: 1279px) {
            margin-bottom: 24px;
            max-width: 640px;
        }
        @media (max-width: 767px) {
            max-width: 560px;
        }
    }
}
