.footer {
    display: flow-root;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
        margin-bottom: 110px;

        @media (max-width: 1279px) {
            margin-bottom: 122px;
        }
        @media (max-width: 767px) {
            margin-bottom: 64px;
        }
    }

    &__social-list {
        display: flex;
        gap: 28px;
    }

    &__social-link {
        &:link,
        &:visited {
            color: colors.$davys-gray;
        }
        &:hover {
            color: colors.$dark-purple;
        }
    }
}
