.header {
    display: flow-root;
    background-color: colors.$dark-purple;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
        margin-bottom: 24px;
        align-items: flex-start;

        @media (max-width: 1280px) {
            margin-top: 32px;
            align-items: center;
        }
    }
}
